page-no-event {
    .content{
        color:white;
        background-color: black;
    }

    .img-venados{
        margin-top: 50% !important;
        content:url("../assets/imgs/logo.svg");
    }
}
