<ion-header>
  <ion-navbar color="venados">
    <ion-buttons start class="ham-menu">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Recarga Saldo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form novalidate [formGroup]="formgroup">
      <ion-list>
        <ion-item>
          <ion-label floating>Num. Usuario:</ion-label>
          <ion-input type="text" formControlName="cliente" (ionChange)="confirmAC.setValue('');" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.cliente" >
            <p class="error-message" *ngIf="clienteAC.hasError(validation.type) && clienteAC.touched">
            {{ validation.message }}
            </p>
          </ng-container>
        </div>
        <ion-item>
          <ion-label floating>Confirmación de Num. Usuario</ion-label>
          <ion-input type="text" EqualValidator="cliente" formControlName="confirm"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm" >
            <p class="error-message" *ngIf="confirmAC.hasError(validation.type) && confirmAC.touched">
            {{ validation.message }}
            </p>
          </ng-container>
          <p class="error-message" *ngIf="confirmAC.invalid && confirmAC.touched">
            El usuario no coincide
          </p>
          
        </div>
        <ion-item>
          <ion-label floating>Saldo</ion-label>
          <ion-input type="number" formControlName="saldo"></ion-input>
        </ion-item>
      </ion-list>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.saldo" >
          <p class="error-message" *ngIf="saldoAC.hasError(validation.type) && saldoAC.touched">
          {{ validation.message }}
          </p>
        </ng-container>
        <p class="error-message" *ngIf="saldoAC.invalid && saldoAC.touched">
          El saldo debe ser mayor a 0.
        </p>
      </div>
    </form>
  </div>
  <div class="validation-errors">
    
  </div>
  <ion-list>
    <button ion-button id="send" class="enviar" block color="danger" (click)="hacerRecarga()" [disabled]="!formgroup.valid">
      Enviar
    </button>
  </ion-list>
</ion-content>
