
<ion-header>

  <ion-navbar color="venados">
    <!--
      <ion-buttons end *ngIf="estatus =='SinConfirmar'">
        <button ion-button icon-only (click)="edicion()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
      -->
      <ion-title>Carrito
          <div style="float:right;font-size: 17px; padding-top: 3px;">${{this.globals.saldo}}</div>
          <ion-icon name="ios-cash-outline" style="font-size:25px; margin-right: 5px;float:right; align-self: center"></ion-icon>
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="estatus == 'SinConfirmar'; else elseRealizado">
    <ion-item-sliding *ngFor="let item of cartItems; let i = index" #productos>
    <ion-item>
      <ion-thumbnail item-left class="img" [style.background-image]="'url('+apiURL+item.producto.imagen+')'" *ngIf="item.producto.imagen != null; else elseImg"></ion-thumbnail>
      <ng-template #elseImg>
        <ion-thumbnail item-left class="img"></ion-thumbnail>
      </ng-template>
      <div  style="display:inline-block">
        <h2>{{item.producto.nombre}}</h2>
        <p>Precio: {{item.producto.precio}}</p>
        <p>Total: {{item.total}}</p>
      </div>
      <div item-end >
        <div class="divcant">Cantidad</div>
        <div item-mid>
          <ion-icon os="ios-arrow-dropdown-circle" md="md-arrow-dropdown-circle" (click)="decrement(i)" class="iconoMenos" ></ion-icon>
          <div class="current">
            <p class="cant">{{item.cantidad}}</p>
          </div>
          <ion-icon os="ios-arrow-dropup-circle" md="md-arrow-dropup-circle" (click)="increment(i)" class="iconoMas" ></ion-icon>
        </div>
      </div>
    </ion-item>

    <ion-item-options side="right">
      <button ion-button color="danger" (click)="removeFromCart(i)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
    </ion-item-options>
  </ion-item-sliding>
    <ion-grid>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-2>
    
              </ion-col>
              <ion-col col-4>
                <b>TOTAL</b>
                
              </ion-col>
              <ion-col col-3>
    
              </ion-col>
              <ion-col col-3 text-rigth>
                 <b>$ {{total}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
      <ion-grid >
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-2>
      
                </ion-col>
                <ion-col col-4>
                  <b>SALDO</b>
                  
                </ion-col>
                <ion-col col-3>
      
                </ion-col>
                <ion-col col-3 text-rigth>
                  <b style="color:green;" *ngIf="saldo != null ">$ {{saldo}}</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-grid>
  </ion-list> 

  <ng-template #elseRealizado>
    <ion-list *ngIf="estatus == 'Realizado'; else elsePedidos">
      
      <ion-item *ngFor="let item of cartItems; let i = index" #productos>
  
          <ion-thumbnail item-left class="img" [style.background-image]="'url('+apiURL+item.imagen+')'" *ngIf="item.imagen != null; else elseImg"></ion-thumbnail>
          <ng-template #elseImg>
              <ion-thumbnail item-left class="img"></ion-thumbnail>
          </ng-template>
        <h2>{{item.nombre}}</h2>
        <p>Cantidad: {{item.cantidad}} Precio: {{item.precio}}</p>
        <!--<button ion-button clear item-right color="danger" (click)="removeFromCart(i)">
          <ion-icon name="close-circle"></ion-icon>
        </button>-->
      </ion-item>
      <ion-grid>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-2>
      
                </ion-col>
                <ion-col col-4>
                  <b>TOTAL</b>
                  
                </ion-col>
                <ion-col col-3>
      
                </ion-col>
                <ion-col col-3 text-rigth>
                  $ <b>{{total}}</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-grid>
      <ion-card *ngIf="hexIdPedido" class="card-saldo">
          <div class="card-title">{{hexIdPedido}}</div>
          <div class="card-subtitle">Código de pedido</div>
      </ion-card>
      <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
            Puedes escanera este código en la tienda si lo deseas.
          </ion-card-content>
      </ion-card>
    </ion-list> 

  </ng-template>

  <ng-template #elsePedidos>
    <ion-list >
      
      <ion-item *ngFor="let item of cartItems; let i = index" #productos>
        <ion-thumbnail item-left>
          <ion-thumbnail item-left class="img" [style.background-image]="'url('+apiURL+item.imagen+')'" *ngIf="item.imagen != null; else elseImg"></ion-thumbnail>
          <ng-template #elseImg>
              <ion-thumbnail item-left class="img"></ion-thumbnail>
          </ng-template>
        </ion-thumbnail>
        <h2>{{item.nombre}}</h2>
        <p>Cantidad: {{item.cantidad}} Precio: {{item.precio}}</p>
        <!--<button ion-button clear item-right color="danger" (click)="removeFromCart(i)">
          <ion-icon name="close-circle"></ion-icon>
        </button>-->
      </ion-item>
    </ion-list> 
    <ion-grid>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-2>
    
              </ion-col>
              <ion-col col-4>
                <b>TOTAL</b>
                
              </ion-col>
              <ion-col col-3>
    
              </ion-col>
              <ion-col col-3 text-rigth>
                $ <b>{{total}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
  </ng-template>
  
  <ion-card *ngIf="estatus == 'En proceso'">
    <ion-card-content>
        Este pedido está en proceso, lo que significa que ya está siendo atendido. Por favor espere.
      </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>

  <ion-toolbar *ngIf="estatus=='SinConfirmar'; else elseBtnSinConfirmar">
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
        </ion-col>
        <ion-col>
            <button ion-button color="danger" [disabled]="total > saldo" (click)="confirmarPedido()"  block >Pedir</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ng-template #elseBtnSinConfirmar>
      <ion-toolbar *ngIf="estatus=='Solicitado'; else elseBtnRealizado" >
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
              </ion-col>
              <ion-col>
                  <button ion-button color="danger"  block (click)="confirmarCancel()" >Cancelar pedido</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
  </ng-template>

  <ng-template #elseBtnRealizado>
      <ion-toolbar *ngIf="estatus == 'Realizado'  || estatus == 'En proceso'; else elseBtnPedidos">
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" block (click)="close()">Regresar</button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ng-template>

  
  <ng-template #elseBtnPedidos>
      <ion-toolbar >
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
              </ion-col>
              
              <ion-col>
                  <button ion-button color="danger"  block (click)="eliminarPedido()">Eliminar pedido</button>
              </ion-col>
              
            </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ng-template>

  
</ion-footer>

