
<ion-header>

  <ion-navbar color="venados">
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list *ngIf="estatus == 'SinConfirmar'; else elseRealizado">
      
    <ion-item *ngFor="let item of cartItems; let i = index" #productos>

      <ion-thumbnail item-left>
        <img src="/assets/imgs/starbucks.png" style="width: 60px !important; height: 60px !important;">
      </ion-thumbnail>
      <h2>{{item.producto.nombre}}</h2>
      <p>Cantidad: {{item.cantidad}} Precio: {{item.producto.precio}}</p>
      <button ion-button clear item-right color="danger" (click)="removeFromCart(i)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-item>
    <ion-grid>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-2>
    
              </ion-col>
              <ion-col col-4>
                <b>TOTAL</b>
                
              </ion-col>
              <ion-col col-3>
    
              </ion-col>
              <ion-col col-3 text-rigth>
                 <b>$ {{total}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
      <ion-grid>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-2>
      
                </ion-col>
                <ion-col col-4>
                  <b>SALDO</b>
                  
                </ion-col>
                <ion-col col-3>
      
                </ion-col>
                <ion-col col-3 text-rigth>
                  <b style="color:green;">$ {{saldo}}</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-grid>
  </ion-list> 

  <ng-template #elseRealizado>
    <ion-list *ngIf="estatus == 'Realizado'; else elsePedidos">
      
      <ion-item *ngFor="let item of cartItems; let i = index" #productos>
  
        <ion-thumbnail item-left>
          <img src="/assets/imgs/starbucks.png" style="width: 60px !important; height: 60px !important;">
        </ion-thumbnail>
        <h2>{{item.nombre}}</h2>
        <p>Cantidad: {{item.cantidad}} Precio: {{item.precio}}</p>
        <!--<button ion-button clear item-right color="danger" (click)="removeFromCart(i)">
          <ion-icon name="close-circle"></ion-icon>
        </button>-->
      </ion-item>
      <ion-grid>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-2>
      
                </ion-col>
                <ion-col col-4>
                  <b>TOTAL</b>
                  
                </ion-col>
                <ion-col col-3>
      
                </ion-col>
                <ion-col col-3 text-rigth>
                  $ <b>{{total}}</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-grid>
      <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
            Deben de escanear este código para que el pedido pueda ser entregado.
          </ion-card-content>
      </ion-card>
    </ion-list> 

  </ng-template>

  <ng-template #elsePedidos>
    <ion-list >
      
      <ion-item *ngFor="let item of cartItems; let i = index" #productos>
  
        <ion-thumbnail item-left>
          <img src="/assets/imgs/starbucks.png" style="width: 60px !important; height: 60px !important;">
        </ion-thumbnail>
        <h2>{{item.nombre}}</h2>
        <p>Cantidad: {{item.cantidad}} Precio: {{item.precio}}</p>
        <!--<button ion-button clear item-right color="danger" (click)="removeFromCart(i)">
          <ion-icon name="close-circle"></ion-icon>
        </button>-->
      </ion-item>
    </ion-list> 
    <ion-grid>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-2>
    
              </ion-col>
              <ion-col col-4>
                <b>TOTAL</b>
                
              </ion-col>
              <ion-col col-3>
    
              </ion-col>
              <ion-col col-3 text-rigth>
                $ <b>{{total}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
  </ng-template>
  
  
</ion-content>

<ion-footer>

  <ion-toolbar *ngIf="estatus=='SinConfirmar'; else elseBtnSinConfirmar">
    <ion-grid>
      <ion-row>
        <ion-col>
            <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
        </ion-col>
        <ion-col>
            <button ion-button color="danger" [disabled]="total > saldo" (click)="confirmarPedido()"  block >Pedir</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ng-template #elseBtnSinConfirmar>
      <ion-toolbar *ngIf="estatus=='Solicitado'; else elseBtnRealizado" >
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
              </ion-col>
              <ion-col>
                  <button ion-button color="danger"  block (click)="cancelarPedido()" >Cancelar pedido</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
  </ng-template>

  <ng-template #elseBtnRealizado>
      <ion-toolbar *ngIf="estatus == 'Realizado'; else elseBtnPedidos">
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" block (click)="close()">Cerrar</button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ng-template>

  <ng-template #elseBtnPedidos>
      <ion-toolbar >
          <ion-grid>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" outline block (click)="close()">Cerrar</button>
              </ion-col>
              <ion-col>
                  <button ion-button color="danger"  block (click)="eliminarPedido()">Eliminar pedido</button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ng-template>
</ion-footer>
