page-cart-modal {
    .imgProducto{
		content:url("../assets/imgs/blank-img.png");
	}
	.card-saldo {
		position: relative;
		height: 100px;
		text-align: center;
		width: calc(100% - 20px);
		background-color: #f53d3d; 
	}
	.card-title {
		position: absolute;
		top: 45%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: white;
		background-color: #f53d3d; 
	}

	.card-subtitle {
		position: absolute;
		background-color: #f53d3d; 
		top: 25%;
		width: 100%;
		color: white;
		font-size: 1.0em;
	}

	.img{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
