<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="venados">
  	<ion-buttons start class="ham-menu">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Jala para refrescar"
    refreshingText="Cargando..." >
        
    </ion-refresher-content>
  </ion-refresher>

  <ion-item-divider color="light" text-center>Por Pedir</ion-item-divider>
  <ng-template #elseBlock>
    <ion-card *ngFor="let tienda of cartItems" (click)="irCarrito(tienda)">
    
      <ion-row>
        <ion-col>
          <ion-item>
            <h1>{{tienda[0].tienda.nombre}}</h1>
          </ion-item>
        </ion-col>
        <ion-col color="secondary" center text-right>
          <p class="status-espera" class="status">En espera</p>
        </ion-col>
      </ion-row>
    
    
        <ion-row>
          <ion-col right text-right>
            <ion-note>
              Tap para confirmar pedido
            </ion-note>
          </ion-col>
        </ion-row>
    
    </ion-card>
  </ng-template>
    
    <ion-list *ngIf="cartItems == null || cartItems.length == 0; else elseBlock">
      <ion-card >
        <ion-grid>
          <ion-row >
            <ion-col>
              <p>No has pedido nada aún</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  <br>
  <ion-item-divider color="light" text-center>Pedidos</ion-item-divider>

</ion-content>
