
<ion-header>
    <ion-navbar color="venados">
        <ion-buttons start class="ham-menu">
          <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Pedidos
            <div style="float:right;font-size: 17px; padding-top: 3px;">${{this.globals.saldo}}</div>
            <ion-icon name="ios-cash-outline" style="font-size:25px; margin-right: 5px;float:right; align-self: center"></ion-icon>
        </ion-title>
    </ion-navbar>
  
    <ion-toolbar no-border-top color="venados">
      <ion-segment [(ngModel)]="category" color="light">
        <ion-segment-button value="carrito">
          Carrito
        </ion-segment-button>
        <ion-segment-button value="proceso">
          En proceso
        </ion-segment-button>
        <ion-segment-button value="historial">
          Historial
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown"
          pullingText="Deliza hacia abajo para actualizar"
          refreshingText="Cargando..." >
          </ion-refresher-content>
        </ion-refresher>
    <!--*********************AQUI EMPIEZA EL PRIMER SEGMENTO QUE ES EL DE EL CARRITO-->
    <div [ngSwitch]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
      <div  *ngSwitchCase="'carrito'">
      <ion-list>
          <ion-item-sliding *ngFor="let tienda of cartItems; let i = index" (click)="irCarrito(i, 'SinConfirmar', tienda[0].tienda.id)">
              <ion-item class="item-remove-animate" >
                <ion-row>
                  <ion-col>
                    <h1 iontext>{{tienda[0].tienda.nombre}}</h1>  
                  </ion-col>
                  <ion-col right text-right>
                    <ion-note>
                      Sin Confirmar
                    </ion-note>
                  </ion-col>
                </ion-row>
                <ion-row> 
                    <ion-col>
                      <!--<p> {{notif.mensaje}}</p>-->
                    </ion-col>
                </ion-row>
                    
              </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="eliminarCarrito(i)">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                  </button>
                </ion-item-options>
          
              </ion-item-sliding>
      </ion-list>
      <ion-list *ngIf="cartItems == null || cartItems.length == 0;" >
          <ion-card >
            <ion-grid>
              <ion-row >
                <ion-col>
                  <p text-center>No has agregado nada al carrito</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </div>
  <!--*********************AQUI EMPIEZA EL SEGUNDO SEGMENTO QUE ES EL DE EN PROCESO*****************-->
  <!--*************************************PEDIDOS SOLICITADOS************************************-->
  <div *ngSwitchCase="'proceso'">
    <ion-item-divider color="light" text-center>Solicitados</ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let solicitado of solicitados; let i = index" (click)="irCarrito( solicitado.id, solicitado.estatus, solicitado.idempresa)">
        <ion-item class="item-remove-animate" >
          <ion-row>
            <ion-col>
              <h1 iontext>{{solicitado.nombre}}</h1>  
            </ion-col>
            <ion-col right text-right>
              <ion-note class="statusPedidoSC">
                  {{solicitado.estatus}}
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row> 
              <ion-col>
                <!--<p> {{notif.mensaje}}</p>-->
              </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="solicitados == null || solicitados.length == 0">
    <ion-card >
      <ion-grid>
        <ion-row >
          <ion-col>
            <p text-center>No hay pedidos solicitados</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <!--*************************************PEDIDOS EN PROCESO*************************************-->
  <ion-item-divider color="light" text-center>En proceso</ion-item-divider>
  <ion-list>
      <ion-item-sliding *ngFor="let prosess of procesando; let i = index" (click)="irCarrito( prosess.id, prosess.estatus)">
        <ion-item class="item-remove-animate" >
          <ion-row>
            <ion-col>
              <h1 iontext>{{prosess.nombre}}</h1>  
            </ion-col>
            <ion-col right text-right>
              <ion-note class="statusPedidosEC">
                  {{prosess.estatus}}
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row> 
              <ion-col>
                <!--<p> {{notif.mensaje}}</p>-->
              </ion-col>
          </ion-row>
        </ion-item>

    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="procesando == null || procesando.length == 0">
      <ion-card >
        <ion-grid>
          <ion-row >
            <ion-col>
              <p text-center>No hay pedidos en proceso</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>

  <!--*************************************PEDIDOS LISTOS PERO SIN ENTREGAR*************************************-->
  <ion-item-divider color="light" text-center>Listos</ion-item-divider>
  <ion-list>
      <ion-item-sliding *ngFor="let realizado of realizados; let i = index" (click)="irCarrito( realizado.id, realizado.estatus, realizado.idempresa)">
        <ion-item class="item-remove-animate" >
          <ion-row>
            <ion-col>
              <h1 iontext>{{realizado.nombre}}</h1>  
            </ion-col>
            <ion-col right text-right>
              <ion-note class="statusListo">
                  {{realizado.estatus}}
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row> 
              <ion-col>
                <!--<p> {{notif.mensaje}}</p>-->
              </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="realizados == null || realizados.length == 0; else elseListo">
      <ion-card >
        <ion-grid>
          <ion-row >
            <ion-col>
              <p text-center>No hay pedidos listos</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
  <!--***************AQUI EMPIEZA EL HISTORIAL DE PEDIDOS***********************-->
  <div *ngSwitchCase="'historial'">
    <!--***************PEDIDOS ENTREGADOS***********************-->
    <ion-item-divider color="light" text-center>Entregados</ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let entregado of entregados; let i = index" (click)="irCarrito( entregado.id, entregado.estatus, entregado.idempresa)">
        <ion-item class="item-remove-animate" >
          <ion-row>
            <ion-col>
              <h1 iontext>{{entregado.nombre}}</h1>  
            </ion-col>
            <ion-col right text-right>
              <ion-note class="statusEntregado">
                  {{entregado.estatus}}
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row> 
              <ion-col>
                <!--<p> {{notif.mensaje}}</p>-->
              </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="eliminarPedido(entregado.id, entregado.estatus, i)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="entregados == null || entregados.length == 0; else elseEntregado">
      <ion-card >
        <ion-grid>
          <ion-row >
            <ion-col>
              <p text-center>No hay pedidos entregados</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>

    <!--***************PEDIDOS CANCELADOS***********************-->
    <ion-item-divider color="light" text-center>Cancelados</ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let cancelado of cancelados; let i = index" (click)="irCarrito( cancelado.id, cancelado.estatus, cancelado.idempresa)">
        <ion-item class="item-remove-animate" >
          <ion-row>
            <ion-col>
              <h1 iontext>{{cancelado.nombre}}</h1>  
            </ion-col>
            <ion-col right text-right>
              <ion-note class="statusCancelado">
                  {{cancelado.estatus}}
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row> 
              <ion-col>
                <!--<p> {{notif.mensaje}}</p>-->
              </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="eliminarPedido(cancelado.id, cancelado.estatus, i)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="cancelados == null || cancelados.length == 0; else elseCancelado">
      <ion-card >
        <ion-grid>
          <ion-row >
            <ion-col>
              <p text-center>No hay pedidos cancelados</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
</div>
  </ion-content>
