page-notifications {
	.status-cancelado{
		color: #C14A4A;
	}

	.status-listo{
		color: green;
	}

	#notif{
		
	}
	ion-label{
		white-space: unset;
		overflow-wrap: break-word;
	}

	.listElement{
		height: 105px;
	}
}
