page-products {
	.precio{
		color: #779F3E;	
	}
	.imageList img{
		border-radius: 4px;
	}
	.imgProducto{
		content:url("../assets/imgs/blank-img.png");
	}
	img{
		max-width: 100%;
		border: 0;
		height: 70px;
	}
}
